@page "/triggers"
@inject AutoHomeRestClient Client;
@inject IDialogService DialogService;
@inject ISnackbar Snackbar;
@inject IMapper Mapper;

<PageHeaderMenu Title="Triggers">
    <MudIconButton Icon="@Icons.Material.Filled.Add" Class="mt-2 mb-2" Disabled="@_buttonsDisabled"
                   OnClick="@(async () => OpenAddTriggerDialog())">
    </MudIconButton>
</PageHeaderMenu>

<MudSimpleTable Style="overflow-x: auto;">
    <thead>
        <tr>
            @foreach (var h in _headings)
            {
                <th>@h</th>
            }
        </tr>
    </thead>
    <tbody>
        @if (_triggers.Any())
        {
            @foreach (var row in _triggers)
            {
                <tr>
                    <td>@row.Device.Name @row.Device.Type</td>
                    <td>@row.Name</td>
                    <td>@row.Interval</td>
                    <td>
                        <MudFab Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Edit" Size="Size.Small" Disabled="@_buttonsDisabled" OnClick="@(async () => UpdateTrigger(row))" />
                        <MudFab Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Delete" Size="Size.Small" Disabled="@_buttonsDisabled" OnClick="@(async () => DeleteTrigger(row))" />
                    </td>
                </tr>
            }
        }
        else
        {
            <tr colspan=4>
                <td>No triggers</td>
            </tr>
        }

    </tbody>
</MudSimpleTable>

@code {
    IEnumerable<ListTriggersResult> _triggers { get; set; } = new List<ListTriggersResult>();
    ICollection<ListDevicesResult> _devices = new List<ListDevicesResult>();
    string[] _headings = { "Device", "Name", "Interval", string.Empty };
    bool _buttonsDisabled = false;

    protected override async Task OnInitializedAsync()
    {
        _devices = await Client.ListDeviceAsync(CancellationToken.None);
        await RefreshAsync();
    }

    private async Task RefreshAsync()
    {
        var triggers = await Client.ListTriggerAsync(CancellationToken.None);
        if (triggers?.Any() ?? false)
        {
            _triggers = triggers;
        }
        StateHasChanged();
    }

    private async void OpenAddTriggerDialog()
    {
        DialogOptions dialogOptions = new()
            {
                CloseOnEscapeKey = true,
                DisableBackdropClick = true,
            };
        var parameters = new DialogParameters { ["Devices"] = _devices };

        try
        {
            _buttonsDisabled = true;
            var dialog = DialogService.Show<AddTriggerDialog>("Add Trigger", parameters, dialogOptions);
            var result = (bool?)(await dialog.Result).Data;

            if (result ?? false)
            {
                await RefreshAsync();
            }
        }
        finally
        {
            _buttonsDisabled = false;
            StateHasChanged();
        }
    }

    private async void UpdateTrigger(ListTriggersResult trigger)
    {
        var dialogOptions = new DialogOptions()
            {
                CloseOnEscapeKey = true,
                DisableBackdropClick = true,
            };
        EditTriggerForm model = new();
        Mapper.Map(trigger, model);
        var parameters = new DialogParameters { ["Model"] = model, ["Devices"] = _devices };

        try
        {
            _buttonsDisabled = true;
            var dialog = DialogService.Show<EditTriggerDialog>($"Update {trigger.Name}", parameters, dialogOptions);
            var result = (bool?)(await dialog.Result).Data;

            if (result ?? false)
            {
                await RefreshAsync();
            }
        }
        finally
        {
            _buttonsDisabled = false;
            StateHasChanged();
        }
    }

    private async void DeleteTrigger(ListTriggersResult trigger)
    {
        try
        {
            _buttonsDisabled = true;
            bool? result = await DialogService.ShowMessageBox($"Delete {trigger.Name}", $"Are you sure you want to delete {trigger.Name}?", noText: "No");
            if (result == true)
            {
                try
                {
                    await Client.DeleteTriggerAsync(trigger.Id.ToString(), CancellationToken.None);
                    await RefreshAsync();
                    Snackbar.Add($"{trigger.Name} deleted", Severity.Success);
                }
                catch (Exception ex)
                {
                    Snackbar.Add($"Error deleting {trigger.Name}.\n\n{ex.Message}", Severity.Error);
                }
            }
        }
        finally
        {
            _buttonsDisabled = false;
            StateHasChanged();
        }
    }
}
